<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <% @pagination_items.each do |page| %>
    <% if page==@current_page.to_i %>
      <li class="active"><a href="/app/<%= @app.app_id %><% if @version %>/<%= @version %><% end %>?page=<%= page %>"><%= page %><span class="sr-only">(current)</span></a></li>
    <% else %>
    <li><a href="/app/<%= @app.app_id %><% if @version %>/<%= @version %><% end %>?page=<%= page %>"><%= page %></a></li>
    <% end %>
  <% end %>
  <li><a href="#">&raquo;</a></li>
</ul>
