<div class="side-content row">
  <div class="row">
    <h4>ランキング</h4>
    <ul class="nav nav-pills nav-stacked span2">
      <li>App Store</li>
        <ul>
        <li><a href="/ranking?store_type=0&ranking_type=0"><b>トップ無料</b></a></li>
              <% if app_store_genres %>
        <ul>
      <% app_store_genres.each do |genre| %>
        <li><a href="/ranking?store_type=0&genre_id=<%= genre[:id] %>"><%= genre[:name] %></a></li>
      <% end%>
        </ul>
        <li><a href="/ranking?store_type=0&ranking_type=1"><b>トップ有料</b></a></li>
        <li><a href="/ranking?store_type=0&ranking_type=2"><b>トップセラー</b></a></li>
        <li><a href="/ranking?store_type=0&ranking_type=3"><b>新着</b></a></li>
        </ul>
      <% end%>
      <li>Google play</li>
        <ul>
            <li><a href="/ranking?store_type=1&ranking_type=0"><b>トップ無料</b></a></li>
            <li><a href="/ranking?store_type=1&ranking_type=1"><b>トップ有料</b></a></li>
            <li><a href="/ranking?store_type=1&ranking_type=2"><b>トップセラー</b></a></li>
            <li><a href="/ranking?store_type=1&ranking_type=3"><b>新着有料</b></a></li>
            <li><a href="/ranking?store_type=1&ranking_type=4"><b>新着無料</b></a></li>
        </ul>
    </ul>
  </div>

  <% unless apps %>
  <% else %>

  <div class="row">
  <h4>レビュー</h4>
    <ul class="nav nav-pills nav-stacked span2">
      <% if apps %>
        <% apps.each do |app| %>
           <% if selected_app && app[:app_id]==selected_app[:app_id] %>
               <li class="active"><a href="/app/<%= app[:app_id] %>"><%= app[:name] %></a></li>
           <% else %>
               <li><a href="/app/<%= app[:app_id] %>"><%= app[:name] %></a></li>
           <% end %>
        <% end %>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="row">
      <div >
          <a id="toggle_app_form"><i class="icon-plus"></i>Add app</a>
      </div>
      <div class="span2" id="add_app_form" style="display:none;">
          <form id="add_app" method="POST" action="/app/create">
              <label>APP ID:</label>
              <input class="input-medium" type="text" name="app_id" />
              <label>APP NAME:</label>
              <input class="input-medium" type="text" name="app_name" />
              <label>BUCKET ID:(for Google Play)</label>
              <input class="input-medium" type="text" name="bucket_id" />
              <button type=submit" class="btn btn-primary">ADD</button>
              <button onclick="$('#add_app_form').toggle();return false;" class="btn">CANCEL</button>
          </form>
      </div>
  </div>
  
  <div class="row">
      <h4>Contact</h4>
      <a href="https://github.com/punchdrunker/koala/issues" target="_blank">Bug report</a>
  </div>
</div>
