        <link href="/css/graph.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquery.form.js"></script>
        <script type="text/javascript" src="/js/d3.v2.min.js"></script>
        <script type="text/javascript">
        <!--
        // GLOBAL VARIABLE!!!
        var dataset = {
               category_name: 'appli',
               chart_name:    'Ranking',
               end_date:      '2013-01-17',
               start_date:    '2012-10-19',
               <% if @genre_id %>
               data_url:      'http://'+location.hostname+':'+location.port+'/csv?app_id=<%= @app[:app_id] %>&genre_id=<%= @genre_id %>',
               <% else %>
               data_url:      'http://'+location.hostname+':'+location.port+'/csv?app_id=<%= @app[:app_id] %>',
               <% end %>
               x_axis_value_label: 'Date', // 例: "Date"
               y_series_labels:    ["Date", "Name", "Count"] || [], // 例: ["Date", "Gender", "Device", "UU"]
               chart_type: 'line',
               value_type: 'number',
               display_series_type: 'not_total' || 'not_total',

               column_a_type: 'Count' || '', // 例: Gender
               column_a_values: ["Rank"] || [], // 例: ["Male", "Female"] or []
               column_b_type: '' || '',
               column_b_values: [] || [],
               cur_column_a: 'Rank' || '', // 例: 'Female'
               cur_column_b: '' || '',
               cur_forcused_column_index: '' || '',
               cur_forcused_column_type: '' || '',
        };
        -->
        </script>
        <title>koala - <%= (@app)?@app[:name]:'' %></title>
    </head>
    <body>
        <div class="navbar navbar-fixed-top"> 
            <div class="navbar-inner"> 
                    <a href="/" class="brand">koala</a>
                    <div class="nav-collapse"></div>
            </div> 
        </div> 


        <div class="container-fluid span12">

            <!-- menu -->
            <div class="span3">
                &nbsp;
                <div class="float-menu">
                  <%= partial(:_side_menu, :selected_app => @app, :apps => @apps, :app_store_genres => @app_store_genres) %>
              <% if @app %>
                  <%= partial(:_query_panel, :version => @version, :versions => @versions, :app_id => @app[:app_id]) %>
              <% end %>
                </div>
            </div>

            <!-- content -->
            <div class="span8">
                <div class="container">
                    <% if @records && 0< @records.count%>
                      <div class="row">
                      </div>

                      <div class="row-fluid" style="margin-top:20px">
                        <div class="span2">
                          <img src="<%= @app[:thumbnail] %>" />
                        </div>
                        <div class="span9">
                          <h1><%= @app[:name] %> </h1>
                          <% if @genre_id %><h3> ジャンル: <%= @genre_name %>でのランキング</h3><% end %>

                          <% if @store_type.to_i==0 %>
                            <% if @genre_id==nil %>
                              <% genre = get_genre(@app) %>
                              <% if genre %>
                                <a href="/graph?app_id=<%= @app[:app_id] %>&genre_id=<%= genre[:id] %>">ジャンル:<%= genre[:name] %>でのランキング遷移</a>
                              <% end %>
                            <% else %>
                                <a href="/graph?app_id=<%= @app[:app_id] %>">総合でのランキング遷移</a>
                            <% end %>
                          <% end %>
                        </div>
                      </div>


                      <svg id="graph">

                      <%= partial(:_app_ranking_table, :records => @records) %>
                    <% else %>
                      ランキングが登録されていません
                    <% end %>
                </div> 
        </div> 
    </body>
