        <script type="text/javascript" src="/js/jquery.form.js"></script>
        <script type="text/javascript" src="/js/d3.v2.min.js"></script>
        <style>
          .axis text {
          font: 10px sans-serif;
          }

          .axis path,
          .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
          }

          .bar {
          fill: steelblue;
          fill-opacity: .8;
          }

          .x.axis path {
          display: none;
          }

        </style>

        <script type="text/javascript">
        <!--
        function render_ranking_graph() {
          var data = [
          <% if @store_type == '0' %>
            {"State":"App Store", 
          <% else %>
            {"State":"Google Play", 
          <% end %>
          <% if @genres %>
              <% @genres.sort_by{|key, value| -value}.each do|key, value| %>
                  "<%= key %>": <%= value %>, 
              <% end %>
          <% end %>
              },
          ];

          var margin = {top: 20, right: 20, bottom: 30, left: 40};
          var width = 760 - margin.left - margin.right;
          var height = 500 - margin.top - margin.bottom;

          var x0 = d3.scale.ordinal()
          .rangeRoundBands([0, width], .1);

          var x1 = d3.scale.ordinal();

          var y = d3.scale.linear()
            .range([height, 0]);

          var color = d3.scale.ordinal()
            .range(['#1f77b4','#ff7f0e','#2ca02c','#d62728','#9467bd','#8c564b','#e377c2','#7f7f7f','#bcbd22','#17becf'
                   ,'#96514d','#006e54','#824880','#d9a62e','#43676b','#8c564b','#e95295','#83ccd2','#6a5d21','#c3d825']);

          var xAxis = d3.svg.axis()
            .scale(x0)
            .orient("bottom");

          var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(d3.format(".2s"));

          var svg = d3.select("#genres")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


          var ageNames = d3.keys(data[0]).filter(function(key) { return key !== "State"; });

          data.forEach(function(d) {
                  d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
                    });

          x0.domain(data.map(function(d) { return d.State; }));
          x1.domain(ageNames).rangeRoundBands([0, x0.rangeBand()]);
          y.domain([0, d3.max(data, function(d) { return d3.max(d.ages, function(d) { return d.value; }); })]);

          svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

          svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Count");

          var state = svg.selectAll(".state")
            .data(data)
            .enter().append("g")
            .attr("class", "g")
            .attr("transform", function(d) { return "translate(" + x0(d.State) + ",0)"; });

          state.selectAll("rect")
            .data(function(d) { return d.ages; })
            .enter().append("rect")
            .attr("width", x1.rangeBand())
            .attr("x", function(d) { return x1(d.name); })
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); })
            .style("fill", function(d) { return color(d.name); });

          var legend = svg.selectAll(".legend")
            .data(ageNames.slice())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 16 + ")"; });

          legend.append("rect")
            .attr("x", width - 12)
            .attr("width", 12)
            .attr("height", 12)
            .style("fill", color);

          legend.append("text")
            .attr("x", width - 15)
            .attr("y", 10)
            .attr("dy", ".2em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });
        }

        $(function() {
          $("table#records").tablesorter();

              var form_option = {
                success: function() {
                    $('#add_app_form').toggle();
                    document.location.reload(true);
                },
                error: function() {
                    alert('error');
                }
              }; 
              $('#add_app').ajaxForm(form_option);
              $('#toggle_app_form').click(function(){
                  $('#add_app_form').toggle();
              });
              <% unless @genre_id %>
                render_ranking_graph();
              <% end %>
        });
        -->
        </script>
        <% if @store_type=='0' %>
        <title>koala - App Store Ranking</title>
        <% else %>
        <title>koala - Google play Ranking</title>
        <% end %>
    </head>
    <body>
        <div class="navbar navbar-fixed-top"> 
            <div class="navbar-inner"> 
                    <a href="/" class="brand">koala</a>
                    <div class="nav-collapse"></div>
            </div> 
        </div> 


        <div class="container-fluid span12">

            <!-- menu -->
            <div class="span3">
                &nbsp;
                <div class="float-menu">
                  <%= partial(:_side_menu, :selected_app => @app, :apps => @apps, :app_store_genres => @app_store_genres) %>
              <% if @app %>
                  <%= partial(:_query_panel, :version => @version, :versions => @versions, :app_id => @app[:app_id]) %>
              <% end %>
                </div>
            </div>

            <!-- content -->
            <div class="span8">
                <div class="container">
                    <% if @records && 0< @records.count%>
                      <div class="row">
                        <h3><%= ranking_title(@store_type, @ranking_type, @date, @genre_name)%></h3>
                      </div>

                      ランキングの日付を選択:
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          日付を選択
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <% @date_list.each do |record| %>
                              <li><a href="<%= @ranking_path %>&date=<%= formatted_date(record[:date], '-') %>"><%= formatted_date(record[:date], '-') %></a></li>
                          <% end %>
                        </ul>
                      </div>

                      <br />
                      <br />
                      TOP10の月間推移をTSV(Shift_JIS)でダウンロード
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          月を選択
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/ranking/apps">ss</a></li>
                        </ul>
                      </div>
                      <br />

                      <svg id="genres" width="0px" height="0px"/>

                      <%= partial(:_ranking_table, :records => @records, :genre_id => @genre_id, :is_new => @is_new, :ranking_type => @ranking_type) %>
                    <% else %>
                      <br />
                      ランキングが登録されていません
                      <br />
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          日付を選択
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <% @date_list.each do |record| %>
                              <li><a href="<%= @ranking_path %>&date=<%= formatted_date(record[:date], '-') %>"><%= formatted_date(record[:date], '-') %></a></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                </div> 
        </div> 
    </body>
